<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftySlidingPuzzle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D83ADE1F1C230A26000200C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D83ADE331C230A26000200C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D83ADE3E1C230A26000200C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
